html {
  font-size: 1.2vh;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  height: 7vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  column-gap: 2vh;
}

button {
  padding: 2vh 2vw;
  background-color: cyan;
  border: none;
  border-radius: 2vh;
}

.title {
  font-size: 1.7vh;
}

.cardWrapper {
  display: flex;
  column-gap: 2vh;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  height: 7vh;
}

.card img {
  height: 35%;
}
